.liquid-ether-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* Quitamos el background-color negro para ver si el canvas está ahí */
  background: transparent; 
}

.liquid-ether-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
