#infinite-grid-menu-canvas {
  cursor: grab;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  outline: none;
  /* Aseguramos que el fondo sea transparente para ver el color de tu web */
  background-color: transparent; 
}

#infinite-grid-menu-canvas:active {
  cursor: grabbing;
}

.action-button {
  position: absolute;
  left: 50%;
  z-index: 10;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  /* CAMBIO: Tu color Naranja */
  background: #f0940b; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  /* CAMBIO: Tu color Gris Oscuro para el borde */
  border: 5px solid #676b69; 
  transition: transform 0.3s ease;
}

.action-button:hover {
  transform: translateX(-50%) scale(1.1) !important; /* Efecto hover */
}

/* TÍTULOS */
.face-title {
  user-select: none;
  position: absolute;
  font-weight: 900;
  font-size: 3rem;
  left: 1.6em;
  top: 50%;
  transform: translate(20%, -50%);
  /* CAMBIO: Color blanco o gris oscuro según prefieras el contraste */
  color: #ffffff; 
  text-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Sombra para leer mejor */
  font-family: 'Inter', sans-serif;
}

.action-button-icon {
  user-select: none;
  position: relative;
  color: #fff;
  top: 2px;
  font-size: 26px;
}

.face-title.active {
  opacity: 1;
  transform: translate(20%, -50%);
  pointer-events: auto;
  transition: 0.5s ease;
}

.face-title.inactive {
  pointer-events: none;
  opacity: 0;
  transition: 0.1s ease;
}

/* DESCRIPCIONES */
.face-description {
  user-select: none;
  position: absolute;
  max-width: 15ch; /* Un poco más ancho */
  top: 50%;
  font-size: 1.2rem;
  right: 1%;
  transform: translate(0, -50%);
  color: #edefee; /* Tu blanco hueso */
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  font-family: 'Inter', sans-serif;
  text-align: right;
}

.face-description.active {
  opacity: 1;
  transform: translate(-90%, -50%);
  pointer-events: auto;
  transition: 0.5s ease;
}

.face-description.inactive {
  pointer-events: none;
  transform: translate(-60%, -50%);
  opacity: 0;
  transition: 0.1s ease;
}

.action-button.active {
  bottom: 3.8em;
  transform: translateX(-50%) scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s ease;
}

.action-button.inactive {
  bottom: -80px;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease;
}

@media (max-width: 1000px) {
  .face-title {
    font-size: 2rem;
    left: 0.5em;
  }
  .face-description {
    display: none; /* Ocultar descripción en móviles pequeños */
  }
}
